@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.login_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;

  .logo_section {
    margin-bottom: 20px;
  }

  .content {
    border: 1px solid red;
    // flex-grow: 1;

    @include responsive(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mascot {
      display: none;

      @include responsive(tablet) {
        display: block;
      }
    }

    .form_container {
      width: 500px;
      max-width: 500px;
      margin: 0 auto;
      .form_header {
        h2 {
          font-size: 2rem;
          font-weight: 700;
          color: $color-primary;
          letter-spacing: -4%;
        }

        p {
          font-size: 20px;
          font-weight: 400;
          color: $color-accent;
        }
      }

      //   Form

      .login_form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .login_input {
          border: 2px solid #545f7d26;
          width: 100%;
          height: 40px;
          display: flex;
          padding: 10px;
          justify-content: space-between;
          align-items: center;

          input {
            flex: 1;
            min-width: 0;
            border: none;
            font-size: 12px;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
            &:focus {
              border: none;
              outline: none;
            }

            &::placeholder {
              color: $color-accent;
              font-size: 12px;
              font-family: inherit;
              font-weight: inherit;
              opacity: 1;
            }
          }

          span {
            font-size: 12px;
            color: $color-secondary;
            text-transform: uppercase;
          }
        }

        a {
          color: $color-secondary;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
        }

        button {
          background-color: $color-secondary;
          border: none;
          color: #fff;
          padding: 12px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
  }
}
