@use "./variables" as *;
.input-wrapper {
  border: 2px solid #545f7d26;
  border-radius: 12px;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  input {
    flex: 1;
    min-width: 0;
    border: none;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background: none;
    &:focus,
    &:active {
      border: none;
      outline: none;
      background: none;
    }

    &::placeholder {
      color: $color-accent;
      font-size: 14px;
      font-family: inherit;
      font-weight: 400;
      opacity: 1;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: inherit;
    }
  }
}
