@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Arial, sans-serif;

  min-height: 100vh;
}
