@use '../../styles/mixins' as *;

.wrapper {
  padding-top: 60px;
  background-color: #f8f9fa;
  min-height: 100vh;
  @include responsive(tablet) {
    padding-top: 100px;
  }
  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include responsive(tablet) {
      margin-left: 280px;
      // padding-left: 2rem;
      // padding-right: 2rem;
    }
  }
}
