@use "../../styles/mixins" as *;

.wrapper {
  padding-top: 60px;
  @include responsive(tablet) {
    padding-top: 100px;
  }
  .content {
    @include responsive(tablet) {
      margin-left: 280px;
    }
  }
}
