@use '../../styles/variables' as *;
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  height: 100%;
  min-height: 300px;
}

.loader-fullscreen {
  height: 100svh;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba($color-primary, 0.2);
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
