@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.user-details {
  padding: 2rem 1rem;
  margin-top: 1rem;

  @include responsive(desktop) {
    // padding: 1.5rem 0;
    margin: 0;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  background: none;
  border: none;
  color: $color-accent;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.5rem;
  transition: all 0.2s ease;

  @include responsive(desktop) {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  &:hover {
    color: $color-primary;
  }

  img {
    flex-shrink: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  @include responsive(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: $color-primary;
  margin: 0;

  @include responsive(desktop) {
    font-size: 24px;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .action-btn {
    flex: 1;
    min-width: 140px;
    font-size: 12px;
    padding: 0.75rem 1rem;

    @include responsive(desktop) {
      flex: none;
      font-size: 14px;
      padding: 0.875rem 1.5rem;
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;

  @include responsive(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.info-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @include responsive(desktop) {
    flex-direction: row;
    flex: 0 0 auto;
  }
}

.avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;

  @include flex-center;

  img {
    object-fit: cover;
  }
}

.user-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include responsive(desktop) {
    align-items: start;
  }
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: $color-primary;
  margin: 0;

  @include responsive(desktop) {
    font-size: 22px;
  }
}

.user-id {
  font-size: 14px;
  color: $color-accent;
  margin: 0;
}

.info-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid $color-accent;
  border-top: 1px solid $color-accent;

  @include responsive(desktop) {
    padding-bottom: 0;
    padding-top: 0;
    border-top: none;
    border-bottom: none;
    padding: 0 1.5rem;
    border-right: 1px solid $color-accent;
    border-left: 1px solid $color-accent;
  }
}

.tier-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .label {
    font-size: 14px;
    color: $color-accent;
    margin: 0;
  }
}

.info-right {
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(desktop) {
    flex: 0 0 auto;
  }
}

.bank-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
  color: $color-primary;

  .amount {
    font-size: 20px;
    font-weight: 500;

    margin: 0;

    @include responsive(desktop) {
      font-size: 22px;
    }
  }

  .bank-account {
    font-size: 12px;
    margin: 0;
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: start;

  @include responsive(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include responsive(desktop) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.tab {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 400;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  opacity: 0.6;

  @include responsive(desktop) {
    font-size: 16px;
    padding: 1rem 0;
  }

  &:hover {
    opacity: 1;
  }

  &:hover,
  &.active {
    color: $color-secondary;
    border-bottom-color: $color-secondary;
    opacity: 1;
  }
}
